<div class="container">
    <div class="login-form">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="user.username" type="text" name="login" placeholder="Login" required>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="user.password" type="password" name="password" placeholder="Password" required>
                    </mat-form-field>
                    <label *ngIf="invalidUser" class="text-danger">The username or password are incorrect!</label>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>