<jmal-navbar></jmal-navbar>
<div class="container">
    <div class="row" *ngIf="post">
        <div class="col-md-4">
            <img *ngIf="post.pictureURL" [src]="post.pictureURL" [alt]="post.altPicture" class="img-responsive post-image">
        </div>
        <div class="col-md-8">
            <h3>{{title}}</h3>
            <form #postForm="ngForm" *ngIf="post && users" (submit)="onSubmit()">
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="post.title" class="full-width" type="text" name="title" placeholder="Title" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <textarea matInput [(ngModel)]="post.body" class="full-width" name="body" placeholder="Body" required></textarea>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-select placeholder="User" name="user" [(ngModel)]="post.userId" required>
                        <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="postForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>